html{
    width: 100%;
    height: 100%;
}
body {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

p{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container {
    max-width: 600px;
    display: grid;
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
}

.title {
    margin: 0;
    text-align: center;
}

text {
    color: white;
}

#nav {
    list-style: none;
    text-align: center;
}

#nav li {
    display: inline;
}

#nav a {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}

a:hover {
    text-decoration: underline;
}
a {
    font-family: 'Open Sans';
    text-decoration: none;
    color: white;
}

ul {
    padding: 0;
    margin: 0;
}

.linkbox {
    margin-top: 1em;
}